@charset "UTF-8";

/* ---------- 검색 블럭 ----------*/

/* 검색 form */
#searchBlock {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
#fmSRCH {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

/* 검색 결과 표시 */
#searchResult {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
#searchResult span {
	font-weight: bold;
}

/* ---------- 실제 목록 ----------*/
.listMain {
	border: solid 1px gray;
	border-radius: 10px;
	width: 100%;
	padding: 15px;
}

/* 거래내역 없음 */
.noTran {
	margin: 30px;
}
.noTran p {
	margin-bottom: 20px;
}
.noTran a {
	color: blue; 
}

/* 거래내역 테이블 */
.tranTable {
	width: 100%;
	border-collapse: collapse; /* 셀 경계 병합 */
	table-layout: fixed; /* 테이블 레이아웃 고정, 일정 너비 유지*/
}
.tranTable .amount, .btn {
	white-space: nowrap; /* 줄바꿈 방지 */
}

tbody tr:nth-child(odd) {
	background-color: white;
}
tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

/* ---------- 목록 컨트롤 ----------*/
#controlViewBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: medium;
	margin-top: 20px;
}

/* 페이지 블럭 */
#pageBlock {
	display: flex;
	justify-content: center;
}
#pageBlock > * {
	margin: 0 2px;
	padding: 3px 6px;
    border-radius: 8px;
}
#pageBlock .current {
    background-color: var(--main-selectedMenu-color);
    color: var(--main-hoverMenu-under);
    font-weight: bold;
}
#pageBlock .paging {
	color: var(--main-hoverMenu-color);
}
#pageBlock .paging:hover {
	cursor: pointer;
    background-color: var(--main-selectedMenu-under);
}


/* N줄보기 블럭 */
#slct_rc {
	font-size: medium;
}