@charset "UTF-8";

/* ---------- 검색 블럭 ----------*/

/* 검색 form */
#searchBlock {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}
#fmSRCH {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0.5rem;
}
.fmSRCH_depth1 {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}
.fmSRCH_depth1 > * {
	min-width: 8rem;
	max-width: 10rem;
}

/* 검색 결과 표시 */
#searchResult {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4rem;
}
.srchResult_depth1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
#searchResult p {
	font-size: 1.1rem;
}
#searchResult span {
	font-weight: bold;
}
#search_reset {
	width: 8rem;
}

/* ---------- 실제 목록 ----------*/
.listMain {
	border: solid 1px gray;
	border-radius: 10px;
	width: 100%;
	padding: 0.5rem;
}

/* 거래내역 없음 */
.noTran {
	margin: 2rem;
}
.noTran p {
	margin-bottom: 1rem;
}
.noTran a {
	color: blue; 
}

/* 거래내역 테이블 */
.tranTable {
	width: 100%;
	border-collapse: collapse; /* 셀 경계 병합 */
	table-layout: fixed; /* 테이블 레이아웃 고정, 일정 너비 유지*/
}
.tranTable .amount, .btn {
	white-space: nowrap; /* 줄바꿈 방지 */
}
.btns {
	display: flex;
	gap: 0.3rem;
}

tbody tr:nth-child(odd) {
	background-color: white;
}
tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tran_item {
	min-width: 25%;
}
.tran_cate, .tran_meth {
	width: 12%;
}
.tran_inex {
	width: 8%;
}

/* ---------- 목록 컨트롤 ----------*/
#controlViewBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
}

/* 페이지 블럭 */
#pageBlock {
	width: 40%;
	display: flex;
	flex-direction: row;
	gap: 0.3rem;
	justify-content: flex-start;
	align-content: center;
}
#pageBlock > * {
	padding: 0.2rem 0.4rem;
    border-radius: 1.0rem;
    font-size: 1.2rem;
}
#pageBlock .current {
    background-color: var(--main-selectedMenu-color);
    color: var(--main-hoverMenu-under);
    font-weight: bold;
}
#pageBlock .paging {
	color: var(--main-hoverMenu-color);
}
#pageBlock .paging:hover {
	cursor: pointer;
    background-color: var(--main-selectedMenu-under);
}

/* 서브카운트 블럭  */
#subCountBlock {
	width: 20%;
	display: flex;
	justify-content: center;
}

/* N줄보기 블럭 */
#rowCountBlock {
	width: 40%;
	display: flex;
	justify-content: flex-end;
}

#slct_rc {
	font-size: 1.2rem;
}

/* ----- tranList 기준 좁은 화면일 때 ----- */
@media screen and (max-width: 1080px) {

	#fmSRCH {
		width: 80%;
		align-self:center;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.fmSRCH_depth1 {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: center;
	}

	.btns {
		flex-direction: column;
	}
	
}

/* ----- 좁은 화면일 때 ----- */
@media screen and (max-width: 768px) {
	
	td {
		font-size: 1.2rem;
	}
	
}
