@charset "UTF-8";

.contMain {
  min-width: 500px;
  min-height: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

#row_meth,
#slct_mn,
#slct_crd {
  display: none;
}
#guide {
  color: red;
}
h3 {
  margin: 10px 0 20px;
  color: var(--hoverMenu-color);
}
#ccode,
#mcode {
  border: orange solid 1px;
  display: none;
}

.selected_ex {
	background-color : blue;
	color: white;
}
.selected_in {
	background-color : red;
	color: white;
}

