@charset "UTF-8";

	footer {
		flex: 0 0 auto; /* 확장, 축소 없이 지정된 높이로 고정 */
		min-height: 100px;
		width: 100%;
		background-color: var(--footer-background-color);
		padding: 1.8rem;
		text-align: center;
		color: var(--footer-text-color);
	}
	footer h1{
		font-size: 1.5rem;
	}
	footer .icons {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	footer  .icons li {
		margin: 0 5px 0;
	}
	footer .icons li i {
		color: var(--header-selectedMenu-under);
	}
