@charset "UTF-8";

	.border { border: solid darkgray 1px; }
	.borderBlue { border: solid red 1px; }
	.borderRed { border: solid red 1px; }
	.margin-bot{
		margin-bottom: 0.5rem;
	}
	.textGray { color:gray; }
	.borderDashed {
		border: dashed darkgray 1px; padding:10px;
	}
	
	.hidden { display:none; }
	#in { color:blue; } 
	#ex { color:red; } 
	#sys { background-color:beige; }