@charset "UTF-8";

/* --------- 개발 편의용 단순 서식 ----------- */

.border { border: solid darkgray 1px; }
.borderBlue { border: solid blue 1px; }
.borderRed { border: solid red 1px; }
.borderDashed {
	border: dashed darkgray 1px; 
	margin: 10px;
	padding: 10px;
	color: darkgray;
	font-size: smaller;
}

.textGray { color:gray; }	

.marginBot { margin-bottom: 20px; }
.marginTop { margin-top: 30px; }

/* --------- 페이지 기능별 ----------- */

.guideRed {
  color: red;
  font-size: small;
}
.guideBlue {
  color: blue;
  font-size: small;
}

.in, .mn { color:blue; } 
.ex, .crd { color:red; } 
.sys { background-color:beige; }

.item {
	padding: 0 15px 0;
}
.amount {
	text-align: right;
}
/* --------- 선택적으로 변하는 클래스 ----------- */
.selected_date {
	background-color : orange;
	color: white;
}
.selected_in, .selected_mn {
	background-color : blue;
	color: white;
}
.selected_ex, .selected_crd {
	background-color : red;
	color: white;
}

/* ------- 개발 편의용 따로 관리 (to be hidden)------- */

.user_id, .seqno, .cate_code, .meth_code, 
.tran_id, .url,
#search_inex, #search_rc, #search_page {
	border: plum solid 1px;
	display: none;
	width: 40px;
}

.label {
	font-weight: bold;
}
