@charset "UTF-8";

	header {
		min-height: 8%;
		width: 100%;
		background-color: var(--header-background-color);
		padding-left: 0.5rem;
		padding-right: 1.0rem;
		display: flex;
		justify-content: space-between; /* 가로축 정렬: 요소들 사이 동일 간격 */
	    align-items: center;	/* 세로축 정렬: 가운데 */
	}
	
	header > * {
		border: 1px;
		/* border: 1px solid plum; */
	}
	
	#logos {
		display: flex;
		flex-direction: row;
	}
	
	.iconLogo {
		height: 3rem;
		margin-right: -0.3rem;
	}
	.iconLogo:hover {
		cursor: pointer;
	}
	
	#titleLogo {
		color: var(--header-text-color);
		font-size: 1.5rem;
		font-weight: 800;
		cursor: pointer;
		padding: 0.4rem;
		border-radius: 1rem;
	}
	#titleLogo:hover {
		background-color: var(--header-hoverMenu-under);
	}

	header ul {
	    display: flex;
	    flex-direction: row;
	    gap: 1.5rem;
	}
	header a {
	    font-size: 1.2rem;
	    font-weight: 800;
	    padding-bottom: 0.1rem;
	    color: var(--header-text-color); 
	}
	header a:hover {
	    border-bottom: 5px solid var(--header-hoverMenu-under);
	    color: var(--header-hoverMenu-color);
	}
	header .selected {
	    border-bottom: 5px solid var(--header-selectedMenu-under);
	    color: var(--header-selectedMenu-color);
	}
