@charset "UTF-8";

/* ---------- header ---------- */
:root {
	--header-background-color: #c7f1de;
    --header-text-color: #66bb6a; 
    --header-hoverMenu-color: #ffb300;
    --header-hoverMenu-under: #ffffa8;
    --header-selectedMenu-color: #ffb300;
    --header-selectedMenu-under: #66bb6a;
}

/* ---------- aside ---------- */
:root {
    --aside-background-color: #ffffa8;
    --aside-text-color: #ffb300; 
    --aside-hoverMenu-color: #2e7d32;
    --aside-hoverMenu-under: #66bb6a;
    --aside-selectedMenu-color: #66bb6a;
    --aside-selectedMenu-under: #2e7d32;
}

/* ---------- main ---------- */
:root {
    --main-background-color: rgb(207, 248, 245);
    --main-text-color: #ffb300;
    --main-hoverMenu-color: #66bb6a;
    --main-hoverMenu-under: #2e7d32;
    --main-selectedMenu-color: beige;
    --main-selectedMenu-under: #2e7d32;
}

/* ---------- footer ---------- */
:root {
    --footer-background-color: #c7f1de;
    --footer-text-color: #66bb6a; 
    --footer-hoverMenu-color: #ffb300;
    --footer-hoverMenu-under: #ffffa8;
    --footer-selectedMenu-color: beige;
    --footer-selectedMenu-under: #2e7d32;
}

/* ---------- hidden ---------- */

.hidden { display:none; }

