@charset "UTF-8";

main {
	flex: 1; /* #middle 남은 너비 차지 */
	background-color: var(--main-background-color);
	padding: 1.5rem;
	overflow-y: auto; /* 이 영역만 스크롤 */
}

.contMain { 
	background-color: white; 
	text-align:center; 
	padding: 1.5rem; 
	border-radius: 15px;
} 
.title {
	font-size: 1.4rem;
	font-weight: bold;
	margin: 0 0 1.5rem; 
	color:var(--header-hoverMenu-color); 
}
.count {
	margin: 1.2rem; 
}
.cnt {
	color: var(--aside-hoverMenu-color);
	font-size: 1.2rem;
	font-weight: bold;
}

table {
	margin: auto;
	min-width: 25rem;
}
thead {
	background-color: var(--aside-background-color);
}
td {
	padding: 0.2rem;
}

.buttons {
	margin: 20px 0 0;
	/* border: solid 1px orange; */
}
.btn {
	display: float;
    font-size: 0.9rem;
    font-weight: 400; 
    padding: 0.2rem 0.3rem;
    margin: auto;
    width: 100px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color: var(--main-selectedMenu-under);
    color: var(--main-hoverMenu-under);
}
.crt  { 
	display: block;
	height: 1.5rem;
    width: 150px;
	font-size: 1rem;
    font-weight: 400; 
    text-align: center;
}

/* ----- 좁은 화면일 때 ----- */
@media screen and (max-width: 768px) {
	main {
		width: 100%;
		flex: 1;
		order: 2; /* aside 아래에 배치 */
	}
	
}
