@charset "UTF-8";

	aside {
		height: 100%; /* #middle 높이 모두 차지 */
		flex: 0 0 20%; /* #middle 안에서 너비 설정 */
		background-color: var(--aside-background-color);
		padding: 2em;
		float: left;
	}
	aside li {
		margin-bottom: 2rem;
	}
	aside li a {
		font-weight: 600;
	    padding-bottom: 5px;
	    color: var(--aside-text-color); 
	}
	aside a:active {
	    border-bottom: 5px solid var(--aside-selectedMenu-under);
	    color: var(--aside-selectedMenu-color);
	}
	aside a:hover {
	    border-bottom: 5px solid var(--aside-hoverMenu-under);
	    color: var(--aside-hoverMenu-color);
	}
