<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EyEmilyKim.dao.CategoryDao">

  <select id="getList" resultType="com.EyEmilyKim.entity.Category">
  	select * from MAB_CATEGORIES 
	<where> 
	ID in (#{id}, 'system')  
	</where> 
	order by CATE_CODE 
  </select>
  <select id="getCount" resultType="int">
	select count(CATE_CODE) from MAB_CATEGORIES 
	<where> 
	ID in (#{id}, 'system')  
	</where> 
  </select>

  <select id="getOne" resultType="com.EyEmilyKim.entity.Category">
  	select * from MAB_CATEGORIES 
	<where> 
	CATE_CODE = #{ccode} 
	</where> 
  </select>
  
  <delete id="delete">
  	delete from MAB_CATEGORIES 
	<where> 
	CATE_CODE = #{ccode} 
	</where> 
  </delete>
</mapper>