<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EyEmilyKim.dao.MethodDao">

  <select id="getList" resultType="com.EyEmilyKim.entity.Method">
  	select * from MAB_METHODS 
	<where> 
	ID in (#{id}, 'system')  
	</where> 
	order by seqno, METH_CODE desc
  </select>
  <select id="getCount" resultType="int">
	select count(METH_CODE) from MAB_METHODS
  </select>

</mapper>